.node {
    /*ölçülen değerler (sıcaklık,nem)*/
    width: 50%;
    height: 100px;
    background-color: rgba(73, 175, 205, .7);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;

    font-weight: bold;
    margin-top: 20px;
    border: solid 1px rgba(73, 175, 205, .7);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.node>h5 {
    /*ölçülen değerler-text*/
    width: 98%;
    height: 45px;
    background-color: rgba(228, 192, 192, 0.1);
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 7px;
    vertical-align: middle;
    padding-top: 5px;
    text-align: center;
}

.leaf {
    /*ölçülen değerler-değer*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    padding: 3px;
}
.leaf>span{
    text-align:center; /*###*/
    width: 100%;
}
.leaf>span>small {
    /*ölçülen değerler-birim*/
    font-size: 14px !important;
}

.noderain {
    background-color: rgba(0, 136, 187, .7) !important;
    border: solid 1px rgba(0, 136, 187, .7) !important;
}

.nodesum {
    background-color: rgba(208, 81, 26, .7) !important;
    border: solid 1px rgba(208, 81, 26, .8) !important;
}
@media (min-width:1301px) {
    .node{
        flex-wrap: wrap;
        flex-direction: row;
        width: 30%;
    }
    .node>h5 {
        font-size: 18px;

    }

    .leaf {
        font-size: 28px;
    }
}
@media (min-width:700px) and (max-width: 1301px) {
    .node {
        width: 85%;
    }

    .node>h5 {
        font-size: 18px;

    }

    .leaf {
        font-size: 28px;
    }
}
/* .node {
    width: 30%;
    height: 100px;
    background-color: rgba(73, 175, 205, .7);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;

    font-weight: bold;
    margin-top: 70px;
    border: solid 1px rgba(73, 175, 205, .7);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.node>h5 {
    width: 98%;
    height: 45px;
    background-color: rgba(0, 0, 0, .1);
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 7px;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
}

.leaf {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    padding: 3px;   
}

.leaf>span{
    text-align:center;
    width: 100%;
}


.leaf>span>small {
    font-size: 20px !important;
}

.noderain {
    background-color: rgba(0, 91, 124, 0.9) !important;
    border: solid 1px rgba(0, 136, 187, .9) !important;
}

.nodesum {
    background-color: rgba(208, 81, 26, .7) !important;
    border: solid 1px rgba(208, 81, 26, .8) !important;
} */