body {
    display: flex;
    background-image: url("src/img/desen.jpg");
    background-repeat: repeat;
}

.anadiv {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

#navbar {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.logos {
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;


}

.unilogo {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #aaaaaab0;
    padding-bottom: 5px;


}

.unilogo>img {
    width: 68%;
    height: 70%;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.menuitem {
    width: 100%;
    height: 45px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #ffffff8c;
    background-color: rgba(0, 137, 187, 0.8);
    word-spacing: 1px;
}

.tarih {
    width: 55%;
    height: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    text-decoration: none;
    background-color: rgba(1, 6, 8, 0.8);
    word-spacing: 1px;
    margin-top: 5px;
    -webkit-box-shadow: 1px 8px 17px -3px rgba(0, 0, 0, 0.61);
    box-shadow: 1px 8px 17px -3px rgba(0, 0, 0, 0.61);
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.weather {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("src/img/selcuk.jpeg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("src/img/selcuk.jpeg");
    margin-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.weather>h3 {
    width: 95%;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 12px;
}

.weather>i {

    margin-top: 25px;
    width: auto;
    height: auto;
    font-size: 150px;
    color: #ffffff;
    text-align: center;
}

.degreecont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

}

/* .degreecont>span:first-child{
    font-family: 'Quicksand', sans-serif;
    color:#ffffff;
    font-size: 35px;

} */
.degreecont>span {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 115px;

}

.felt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    font-family: 'Quicksand', sans-serif;
    color: #e7e5e5;
    font-size: 20px;

}

.felt>span:last-child {
    margin-left: 13px;
}

.containerlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.list {
    text-decoration: none;
    margin-top: 10px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.node {
    width: 50%;
    height: 100px;
    background-color: rgba(73, 175, 205, .7);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;

    font-weight: bold;
    margin-top: 20px;
    border: solid 1px rgba(73, 175, 205, .7);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.node>h5 {
    width: 98%;
    height: 45px;
    background-color: rgba(0, 0, 0, .1);
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 7px;
    vertical-align: middle;
    padding-top: 5px;
}

.leaf {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    padding: 3px;
}

.leaf>span>small {
    font-size: 14px !important;
}

.noderain {
    background-color: rgba(0, 136, 187, .7) !important;
    border: solid 1px rgba(0, 136, 187, .7) !important;
}

.nodesum {
    background-color: rgba(208, 81, 26, .7) !important;
    border: solid 1px rgba(208, 81, 26, .8) !important;
}

.containerhistorylist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.containerhistorylist>h5 {
    width: 95%;
    font-size: 20px;
    font-weight: normal;
    color: #212121;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #21212150;

}

.historylist {
    text-decoration: none;
    margin-top: 10px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.history {
    width: 42%;
    height: auto;
    background-color: rgba(1, 124, 168, 0.9);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 3px;
    font-weight: bold;
    margin-top: 20px;
    border: solid 1px rgba(73, 175, 205, .8);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.history>h5 {
    width: 98%;
    height: 45px;
    background-color: rgba(0, 0, 0, .1);
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 7px;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
}

.historyleaf {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 3px;
    font-family: 'Quicksand', sans-serif;

}

.historyleaf>i {
    width: 100%;
    font-size: 55px;
    margin-bottom: 20px;
    margin-top: 14px;
    text-align: center;
}

.historyleaf>span:last-child {
    color: #9999ff;

}

/* .historyleaf>span:first-child{
    color: #ff9999;

} */
.moonsum {
    text-decoration: none;
    margin-top: 10px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.sum {
    width: 55%;
    height: auto;
    background-color: rgba(238, 237, 237, 0.808);

    font-family: 'Quicksand', sans-serif;
    padding-bottom: 3px;
    font-weight: bold;
    margin-top: 20px;

    box-shadow: 0 1px 5px rgba(25, 25, 25, .4);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.sum>h5 {
    width: 100%;
    height: 35px;
    background-color: rgba(251, 145, 26, .9);
    color: #ffffff;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
}

.sumicon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sumicon>i {
    width: 33%;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 14px;
    text-align: center;
    color: rgba(251, 145, 26, .9);
}

.sumtime {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    color: rgba(117, 117, 117, 0.9);
}

.suntime>small {
    width: 33%;
    color: rgba(117, 117, 117, 0.9);
    margin-bottom: 20px;
    margin-top: 14px;
    text-align: center;


}

.moon {
    width: 35%;
    height: auto;
    background-color: rgba(238, 237, 237, 0.808);

    font-family: 'Quicksand', sans-serif;
    padding-bottom: 3px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: 0 1px 5px rgba(25, 25, 25, .4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.moon>h5 {
    width: 100%;
    height: 35px;
    background-color: rgba(119, 119, 153, .9);
    color: #ffffff;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
}

.moonicon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;

    justify-content: center;
    color: rgba(119, 119, 153, .9);
}

.moonicon>i {
    width: auto;
    height: auto;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
    color: rgba(119, 119, 153, .9);
    font-style: normal;
}

.moonicon>small {
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
    margin-top: 14px;
}

.moonicon>small:last-child {
    width: 100%;
    text-align: center;

}
